#collabration{
  h1,p{
    text-align: center;
    padding: 20px;
  }

  .col-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 500px;
      height: 290px;
      padding-left: 10px;
    }
    h2,p{
      text-align: center;
      padding: 10px;

    }
    h2 a{
      color: #337ab7;
      
    }
    p{
      padding: 5px;
    }
  }
}