footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  ul{
    display: flex;
    
  }
  li a{
    text-align: center;
    color: #286090 ;

  }
  p{
    padding: 15px;
    color: grey;
  }
}