* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  list-style: none;
  text-decoration: none;
}

main {
  margin-top: 50px;
}
nav {
  background-color: #b6c3db;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
}
body {
  background-color: #eaeffa;
}

header nav .container .div1 h2 {
  color: #1a202c;
}
.div1 {
  display: flex;
  align-items: center;
  gap: 6px;
}
.div2 {
  display: flex;
  align-items: center;
  gap: 9px;
}
.div2 a {
  align-items: center;
  text-decoration: none;
}
.div2 i {
  color: #3d5278;
  border-radius: 50%;
  padding: 8px;
  background-color: #d2dff6;
}
header nav .container .div2 p {
  color: #666666;
}
header nav .container .div2 p span {
  font-weight: 700;
  color: #000000;
}
header nav {
  border-bottom: 1px solid #9db0d4;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
sup {
  color: #3d5278;
}

.addToBasket {
  background-color: #bac8e0;
  color: #40557b;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 10px;
  transition: 0.3s;
}
.addToBasket:hover {
  background-color: #bacff3;
  color: #2a3447;
}

.card {
  min-height: 650px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.image {
  width: 100%;
  height: 250px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ikons {
  display: flex;
  gap: 8px;
}

.ikons i {
  color: #8399c4;
}

.form-select {
  width: 10%;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 10%;
  margin-right: 80px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9bc8cb;
  min-width: 160px;
  z-index: 1;
  border-radius: 8px;
  margin-right: 80px;
  width: 100%;
}
.dropdown-btn {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: #8399c4;
  margin-right: 80px;
  width: 100%;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: rgb(254, 250, 250);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}
.dropdown-content a:hover {
  background-color: #6b9a9d;
  border-radius: 8px;
}
