/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#arrivals h2 {
  font-size: 60px;
  color: #000;
}

#arrivals .container .row .col-4 h3 {
  font-size: 20px;
  color: #635c5c;
}

#sec1 .divleft .btn button {
  background-color: #4a4a4b;
  padding: 13px 18px;
  border: none;
  color: white;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}

/* .box {
background-color: orange;
border: 2px solid;
} */
@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-left-0 {
    padding-left: 0;
  }
  .p-md-right-0 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-left-0 {
    padding-left: 0;
  }
  .p-sm-right-0 {
    padding-right: 0;
  }
}
header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  position: relative;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header nav ul li a {
  font-size: 20px;
  color: #343a40;
  font-weight: 500;
  transition: 0.4s;
}
header nav ul li a:hover {
  color: #dc3545;
}
header img {
  padding: 40px 150px;
}
header .icons {
  display: flex;
  gap: 20px;
  padding: 40px 150px;
  align-items: center;
  justify-content: center;
}
header i {
  cursor: pointer;
}

#sec1 {
  display: flex;
  background-color: #f8f9fa;
}
#sec1 .divleft {
  padding: 16% 15%;
}
#sec1 .divleft h1 {
  font-size: 80px;
  font-weight: 700;
  width: 700px;
}
#sec1 .divleft p {
  width: 600px;
  padding: 20px 0;
}
#sec1 .divleft .btn {
  position: relative;
  width: 170px;
  cursor: pointer;
  transition: 0.3s;
}
#sec1 .divleft .btn:hover .overlay {
  width: 100%;
}
#sec1 .divleft .btn .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  background-color: #dc3545;
  transition: 0.5s;
  border-radius: 5px;
}
#sec1 .divleft .btn button {
  width: 100%;
}
#sec1 .divleft .btn button h2 {
  position: relative;
  z-index: 2141;
}

#arrivals .container {
  padding: 7% 15%;
}
#arrivals .container .row .col-4 {
  padding: 0;
}
#arrivals .container .row .col-4 .card {
  padding: 20px;
}
#arrivals .container .row .col-4 .card img {
  width: 100%;
}
#arrivals .container .row .col-4 p {
  color: #dc3545;
}

#imgs .row .col-6 {
  display: flex;
}
#imgs .row .col-6 img {
  width: 100%;
}
#imgs .row .col-6 .col-6 {
  display: flex;
  flex-direction: column;
}