*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
header{
  background-color: #20484F ;
  nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
      h2{
        color: white;
        font-size: 40px;
      }
    
    .hrefs{
      
    } 
    ul{
      display: flex;
      gap: 1rem;
      li{
        a{
          color:white ;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    .btns{
      .sign{
        background-color: #B8E4DA;
        color: #20484F;
        border: none;
        border-radius: 6px;
        padding: 8px 15px;
      }
      .log{
        color: #B8E4DA;
        background-color: #20484F;
        border: none;
        border-radius: 6px;
        padding: 8px 15px;
      }
    }
      
  }
}